{% load static %}

<!-- Footer -->
<footer id="footer" class="pb-5 pt-5">
    <div class="container">
      <div class="row">
        <div class="col col-lg">
          <a href="{% url 'questions' %}">Preguntas frecuentes</a>
        </div>
        <div class="col col-lg">
          <a href="{% url 'payment_methods' %}">Medios de pago</a>
        </div>
        <div class="col col-lg">
          <a href="{% url 'catalog' %}">Catálogo</a>
        </div>
        <div class="col col-lg">
          <a href="#">Web.Master @samayasu</a>
        </div>
      </div>
    </div>
  </footer>