{% extends 'layaut.html' %} {% load static %} {% block content %}
  <div class="container-fluid">
    <h1>Catálogo</h1>
    {% comment %} <div class="row">
      <div class="col-2 d-none d-md-block">
        <!-- Maybe Announcements -->
      </div>
      {% endcomment %}

      {% for category in categories %}
        {% if category.show_it %}
          <div class="text-center">
            <h2>{{ category }}</h2>
          </div>
          <div class="w-lg-75 m-auto">
            <div class="d-flex flex-wrap">
              {% for product in products %}
                {% if product.category == category %}
                  <div class="m-2" style="min-width: 18rem; max-width: 18rem;">
                    <a href="{% url 'detail' product.id %}" class="text-decoration-none">
                      <div class="card shadow">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" />
                        <div class="card-img-overlay">
                          {% if product.new == True %}
                            <div class="newButton user-select-none">NUEVO!</div>
                          {% endif %}
                          <!-- Shopping_cart Button -->
                          <!-- <a href="#"><img src="{% static 'shopping_cart.png' %}" class='float-end shopping_cart mt-2 me-2'></a> -->
                          {% if product.sold == True %}
                            <button class="btn sold_Button">VENDIDO...</button>
                          {% endif %}
                        </div>
                        <div class="card-body">
                          <p class="card-title text-decoration-none">{{ product.name }}</p>
                          {% if product.promo != 0 %}
                            <p class="card-text mb-1">
                              <span class="text-muted">Precio Normal:</span><br />
                              <span class="text-decoration-line-through">${{ product.formatted_price }}</span>
                            </p>
                            <p class="text-muted text-decoration-none">Promo! ${{ product.formatted_promo }}</p>
                          {% else %}
                            <p class="card-text text-muted">${{ product.formatted_price }}</p>
                          {% endif %}
                        </div>
                        <div class="card container border-0">
                          {% if product.sold %}
                            <a href="{% url 'another_equal' product.id %}" class="btn myButton my-1">Encargar</a>
                          {% else %}
                            <a href="{% url 'orders' product.id %}" class="myButton my-1" method="POST">Comprar</a>
                          {% endif %}
                        </div>
                      </div>
                    </a>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %} {% include './pagination.html' %}

      {% comment %}
      <div class="col-2 d-none d-md-block">
        <!-- Maybe Announcements -->
      </div>
    </div> {% endcomment %}
  </div>
{% endblock %}
